.round-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #252f33;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  cursor: pointer;
}

.round-button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.no-hover-effect:hover {
  color: hsl(217, 12%, 63%);
  background-color: #252f33;
}

.selected {
  background-color: hsl(217, 12%, 63%);
  color: white;
  pointer-events: none;
  cursor: default;
}
