@font-face {
  font-family: "OverpassRegular";
  src: url("./assets/fonts/Overpass-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OverpassBold";
  src: url("./assets/fonts/Overpass-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

#root {
  padding: 2rem;
  text-align: left;
  width: 100vw;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}
